@charset "UTF-8";

*{margin:0; padding:0;}
a {text-decoration: none; color: #000;}
ul {list-style: none;}
img {border: 0; vertical-align: top;}
.clearFix:after{content:""; display: block; clear:both;}
html{scroll-behavior: smooth;}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/*여기까지 reset css*/

/* font */
.dm-serif display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
  
.dm-serif display-regular-italic {
    font-family: "DM Serif Display", serif, italic;
    font-weight: 400;
    font-style: italic;
}
  
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./images/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}



  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


body{
    font-family: pretendard;
    /* background-color: #000; */
}

/* header css */
header{
    position: fixed;
    width: 100%;
    top:0; left:0; 
    z-index: 9;
}
header .head_menubar{
    height:60px;
    background-color:transparent;
    position:relative;
    top:0; left:0;
    z-index: 9;
}

header .head_menubar .logo{
    width:180px;
    height:35px;
    background-image: url(img/scroll_logo.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position:absolute;
    top:25%;
    left:2%;
}

header .head_menubar .right_btn{
    position:absolute;
    right:5.2%;
    top:35%;
    display: flex;
}
header .head_menubar .right_btn .search{
    width:30px; height:30px;
    background-image: url(img/Search-icon-by-Kanggraphic-1.png);
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    right:12px;
    top:-5px;
}
header .head_menubar .right_btn .menu_btn{
    position: absolute;
    top:1px;
    left:3px;
    cursor: pointer;
}
header .head_menubar .right_btn .menu_btn>div{
    width:25px; height:2px;
    margin-bottom: 5px;
    background-color:#000;
    transition: all 0.4s;
}

/*gnb wrap*/
header .gnb_wrap{
    width:100%;
    height:100vh;
    background-color:rgba(236, 236, 236, 0.8) ;
    position:absolute;
    top:0; left:0;
    backdrop-filter: blur(20px);
    z-index: 9;
    display: none;
}

header .gnb_wrap .close_btn{
    width: 100px;height: 100px;
    position: absolute;
    right:7%;
    top:10%;
    display: block;
    cursor: pointer;
}
header .gnb_wrap .close_btn>div{
    width:25px; height:3px;
    background-color:rgb(80, 80, 80);
    position: absolute;
    top:0;left:0;
    transform-origin:center;
}

header .gnb_wrap .close_btn .close_btn1{
    transform: rotate(45deg);
}
header .gnb_wrap .close_btn .close_btn2{
    transform: rotate(-45deg);
}

header .gnb_wrap .gnb{
    width:1000px;
    height:420px;
    position: relative;
    left:50%; margin-left:-500px;
    top:50%; margin-top:-280px;
}
header .gnb_wrap .gnb>li{
    float:left;
    margin:25px;
}
header .gnb_wrap .gnb>li>a{
    font-size:19px;
    font-weight:bold;
    text-align: center;
}

header .gnb_wrap .gnb>li .sub{
    margin-top:70px;
}
header .gnb_wrap .gnb>li .sub>li{
    height:45px;
}
header .gnb_wrap .gnb>li .sub>li>a{
    font-size:15px;
    letter-spacing: -1px;
    transition: all 0.3s;
}

header .gnb_wrap .gnb>li .sub>li:hover>a{
    color:#d30136;
}



/* -----------여기부터 section css -------------*/

section .visual_banner{
    width:100%;
    height:800px;
    /* background-color: gray; */
    position: relative;
    top:-50px;
    left:0;
    z-index: 0;
}

section .visual_banner>li{
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* background-attachment:scroll; */
    background-size: cover;
    display: none;
}
section .visual_banner .banner_1{
    background-image: url(img/ed586b16bdb23a106b450d458e7723e2.jpg);
    background-position: center;
    display: block;
    z-index: 1;
}
section .visual_banner .banner_2{
    background-image:url(img/c882f63c617a5125a46a1ea185e5b4df.jpg);
    background-position: center;
}
section .visual_banner .banner_3{
    background-image:url(img/2ace85bb03dccc5969d7f412276377e0.jpg);
    background-position: center;
}


section .visual_banner_wrap .dot{
    position: absolute;
    top: 76%;
    left:50%;
    margin-left:-105px;
    z-index: 0;
}
section .visual_banner_wrap .dot>li{
    width: 70px; height: 6px;
    /* border-radius: 50%; */
    /* margin-left: 6px; */
    background-color: rgba(255, 255, 255, 0.74);
    float: left;
    cursor: pointer;
}
section .visual_banner_wrap .dot>li.on{
    background-color: #1a1a1a;
}

/* -------------------------- */

section .con_1_wrap{
    width:100%;
    position: relative;
    top:0;
    left: 0;
}
section .con_1_wrap>div{
    float: left;
    width: 450px; height: 500px;
    background-color: #fcfcfc;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    top:0; 
    left: 50%;
    transform: translateX(-450px);
    z-index: 0;
}
section .con_1_wrap .makeup{
    transform: translateX(-451px);
    transition: all 0.5s;
}

section .con_1_wrap .inner_beauty{
    transition: all 0.5s;
}
section .con_1_wrap .makeup:after{
    content: "";
    display: block;
    height:500px;
    border-right: 1px solid #ababab;
    position: absolute;
    top: 0; left: 450px;
    z-index: 1;
}

section .con_1_wrap .con_1_block{
    margin-top:25%;
    text-align: center;
    
}

section .con_1_wrap .makeup .con_1_block .makeup_icon{
    width: 85px; height: 85px;
    background-image: url(img/eye-shadow\ \(1\).png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(100%);
    margin-left: 42%;
    transition: all 0.3s;
}

section .con_1_wrap .inner_beauty .inner_icon{
    width: 90px; height: 90px;
    background-image: url(img/vitamins.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(100%);
    margin-left: 40%;
    transition: all 0.3s;
}


section .con_1_wrap .con_1_block p{
    margin-top: 30px;
    font-family: pretendard;
    transition: all 0.3s;
}

section .con_1_wrap .con_1_block h1{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: pretendard;
    font-size: 40px;
    color: #d30136;
    transition: all 0.3s;
}

section .con_1_wrap .con_1_block .none_con{
    margin-bottom: 30px;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}

section .con_1_wrap .con_1_block .makeup_btn{
    font-family: pretendard;
    width:200px; height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ababab;
    color: #222;
    border-radius: 20px;
    margin: 0 auto;
    padding-right: 10px;
    transition: all 0.3s;
    position: relative;
    top:0; left: 0;
}
section .con_1_wrap .con_1_block .makeup_btn p{
    transition: all 0.3s;
    position: absolute;
    top:-30px; left: 50%;
    margin-left: -60px;
}
section .con_1_wrap .con_1_block .makeup_btn .makeup_arrow{
    width: 20px; height: 20px;
    background-image: url(img/Right-Arrow-PNG-Transparent-Picture.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:10px;
    left: 50%;
    margin-left: 35px;
    transition: all 0.3s;
}


/* con_1 hover */

section .con_1_wrap .makeup:hover .makeup_icon{
    background-image: url(img/eye-shadow.png);
    transform: scale(110%);
}
section .con_1_wrap .makeup:hover{
    background-color: #d30136;
    border-radius: 20px 0 0 20px;
    color: white;
}
/* section .con_1_wrap .makeup:hover{
    background-color: #731018;
    border-radius: 20px 0 0 20px;
    color: white;
} */

section .con_1_wrap .makeup:hover h1, section .con_1_wrap .makeup:hover div{
    color: white;
}

section .con_1_wrap .makeup:hover .makeup_btn{
    border: 1px solid white;
    transition: all 0.3s;
}

section .con_1_wrap .con_1_block:hover .makeup_btn>p{
    top:-30px; left: 50%;
    margin-left: -85px;
}
section .con_1_wrap .makeup:hover .makeup_arrow{
    background-image: url(img/Right-Arrow-PNG-Transparent-hover.png);
    margin-left:65px;
}

section .con_1_wrap .inner_beauty:hover .inner_icon{
    background-image: url(img/vitamins\ \(1\).png);
    transform: scale(110%);
}


section .con_1_wrap .inner_beauty:hover{
    /* background-color: #df3400; */
    background-color: #1a1a1a;
    border-radius: 0 20px 20px 0;
}
/* section .con_1_wrap .inner_beauty:hover{
    background-color: #731018;
    border-radius: 0 20px 20px 0;
} */

section .con_1_wrap .inner_beauty:hover .con_1_block{
    color: white;
}

section .con_1_wrap .inner_beauty:hover h1{color: white;}
section .con_1_wrap .inner_beauty:hover div{color: white;}
section .con_1_wrap .inner_beauty:hover .makeup_btn{border:1px solid white;}
section .con_1_wrap .inner_beauty:hover .makeup_btn>div{
    background-image: url(img/Right-Arrow-PNG-Transparent-hover.png);
    margin-left:65px;
}

section .con_1_wrap>div:hover .none_con{
    opacity: 1;
}


/* 베스트 아이템 */
section .best_item{
    width:100%;
    overflow: hidden;
    height: 800px;
    position: relative;
    top:120px; left:0;
    /* background-color: palegreen; */
}
section .best_item .best_bg{
    width:20%; 
    height:100%;
    /* background-color: #731018; */
    background-color: #d32651;
    /* background-color: #EDD0A6; */
    /* background-color: #ffa600; */
    border-radius:0 30px 30px 0 ;
    position: absolute;
    top:0;
    left:0;
}
section .title_txt_imgs{
    width:50px; height:50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top:3%; left: 50.2%;
}
section .title_txt_img1{
    background-image: url(img/images/istockphoto-1226129633-170667a_14.png);
}
section .title_txt_img2{
    background-image: url(img/images/istockphoto-1226129633-170667a_10.png);
     top:2%; left: 50.5%;
}
section .title_txt_img3{
    background-image: url(img/images/gift-outline-vector-icon-isolated-260nw-1498719851_03.png);
    top:10%; left: 50.2%;
}
section .title_txt_img4{
    width:45px; height:45px;
    background-image: url(img/images/eve.png);
    top:14.5%; left: 50.6%;
}
section .title_txt_img5{
    width:40px; height:40px;
    background-image: url(img/images/icons_229347.svg);
    top:8%; left: 50.3%;
}
section .title_txt_img6{
    background-image: url(img/images/f4b93a502f60397fe92b663ddb9e683d.png);
    top:6%; left: 50.1%;
}
section .title_txt{
    position: absolute;
    top:10%;
    left:45.5%;
    font-size: 45px;
    font-family: pretendard;
    color: #222;
    font-weight: 700;
}
section .title_txt2{
    left:46%;
}
section .title_txt3{
    top:15%;
    left:46.3%;
}
section .title_txt4{
    left:48%;
}
section .title_txt5{
    left:49%;
}
section .title_txt6{
    top:10%;
}

section .best_item .best_arrow{
    width: 50px; height: 50px;
    background-image: url(img/index_52.png);
    background-repeat: no-repeat;
    position: absolute;
    top:55%; left: 8%;
    cursor: pointer;
    z-index: 2;
}
section .best_item .best_wrap{
    position: absolute;
    top:28%;
    left:0;
    width:100%;
    /* overflow:hidden; */
}
section .best_item .best_op{/*캐러셀 되면서 이곳으로 박스가 사라질것임*/
    width:285px; height:520px;
    position: absolute;
    top:-20px; left:0;
    background-color: #d32651;
    /* background-color: #EDD0A6; */
    /* background-color: #731018; */
    z-index: 1;
}
section .best_item .best_wrap .best_product{
    width: 120%;
    position: absolute;
    top:0%;
    left:15%;
    display: flex;
    z-index: 0;
    /* background-color: gray; */
}
section .best_item .best_product>li{
    width:20%; height:410px;
    margin-right:30px;
    background-color: white;
    border:2px solid #dfdfdf;
    color: #555;
    font-family: pretendard;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

section .best_item .best_product>li>div{
    width:100%; height:100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
}

section .best_item .best_product>li .best_product_1{
    background-image: url(img/best/index_21.png);
}
section .best_item .best_product>li .best_product_2{
    background-image: url(img/best/1.png);
}
section .best_item .best_product>li .best_product_3{
    background-image: url(img/best/index_17.png);
}
section .best_item .best_product>li .best_product_4{
    background-image: url(img/best/index_19.png);
}
section .best_item .best_product>li .best_product_5{
    background-image: url(img/best/index_15.png);
}
section .best_item .best_product>li .best_product_6{
    background-image: url(img/best/index_24.png);
}

section .best_item .best_product>li .item_bg{
    background-color:#1a1a1a;
    padding:30px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

section .best_item .best_product>li .item_bg h3{
    margin-bottom: 5px;
    font-size:15px;
    color:#fff;
}
section .best_item .best_product>li .item_bg .pd_name{
    font-size:16px;
    font-weight: 500;
    color:#fff;
}
section .best_item .best_product>li .item_bg .pd_price{
    margin-top: 19px;
    font-size: 15px;
    font-weight:500;
    color:#fff;
}
section .best_item .best_product>li:hover div{
    height:65%;
}
/* section .best_item .best_product>li .item_bg{
    display: block;
} */
section .best_item .best_product>li:hover .item_bg{
    display: block;
}
/* new item */

section .new_item{
    position: relative;
    width:100%;
    height:650px;
    top:200px; left:0;    
    /* background-color: gray; */
}

section .new_item .new_tab_menu{
    position: absolute;
    top:180px; left:15%;
}

section .new_item .new_tab_menu>li.btnOn:before{
    content:"";
    display: block;
    width:7px; height:7px;
    border-radius: 50%;
    background-color: #d30136;
    margin-bottom:3px;
    /* transition: all 0.3s; */
    animation: dong 0.5s;
}

@keyframes dong {
    0%{
        opacity: 0;
        transform: translateY(-5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
section .new_item .new_tab_menu>li{
    float:left;
    height:30px;
    padding:0 5px;
    text-align: center;
    margin-left:15px;
    border-bottom: 2px solid transparent;
    color: #525252;
    font-weight:300;
    cursor: pointer;
}

section .new_item .new_tab_menu>li.btnOn{
    color: #d30136;
    font-weight: 700;
    border-bottom: 2px solid #d30136;
    position: relative;
    top:-10px; left:0;
}

section .new_item .new_more{
    position: absolute;
    top:210px;
    right:15%;
    font-weight:600;
    color: #525252;
    cursor: pointer;
}

section .new_item .new_tab_content{
    position: relative;
    width:100%;
    height:350px;
    top:260px; left:0;
    /* background-color: green; */
}
section .new_item .new_tab_content>li{
    position: absolute;
    top:0; left:0;
    float:left;
    width:100%;
    display: none;
}
section .new_item .new_tab_content>li:first-child{
    display: block;
}
section .new_item .new_tab_content>li>.new_tab_con{
    width:1500px;
    height:600px;
    position: relative;
    top:0; left:12%;
    /* background-color: pink; */
}
section .new_item .new_tab_content>li>.new_tab_con>li{
    float:left;
    width:350px;
    height:550px;
    margin:10px;
    cursor: pointer;
    transition: all 0.3s;
    /* background-color: pink; */
}

section .new_item .new_tab_content>li>.new_tab_con>li:hover div>div{
    transform: scale(105%);
}

section .new_item .new_tab_content>li>.new_tab_con>li>div{
    width:100%;
    height:65%;
    overflow: hidden;
}
section .new_item .new_tab_content>li>.new_tab_con>li>div>div{
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(100%);
    transition: all 0.3s;
}

section .new_item .new_tab_content>li>.new_tab_con1>li .new_clio_img1{
    background-image: url(img/new/basic_0000004955.gif);
}
section .new_item .new_tab_content>li>.new_tab_con1>li .new_clio_img2{
    background-image: url(img/new/basic_0000004956.gif);
}
section .new_item .new_tab_content>li>.new_tab_con1>li .new_clio_img3{
    background-image: url(img/new/basic_0000004961.gif);
}
section .new_item .new_tab_content>li>.new_tab_con1>li .new_clio_img4{
    background-image: url(img/new/basic_0000005027.gif);
}


section .new_item .new_tab_content>li>.new_tab_con2>li .new_peripera_img1{
    background-image: url(img/new/basic_0000005019.gif);
}
section .new_item .new_tab_content>li>.new_tab_con2>li .new_peripera_img2{
    background-image: url(img/new/basic_0000004482.gif);
}
section .new_item .new_tab_content>li>.new_tab_con2>li .new_peripera_img3{
    background-image: url(img/new/basic_0000004712.gif);
}
section .new_item .new_tab_content>li>.new_tab_con2>li .new_peripera_img4{
    background-image: url(img/new/m_0000004257.gif);
}


section .new_item .new_tab_content>li>.new_tab_con3>li .new_goodal_img1{
    background-image: url(img/new/goodal1.gif);
}
section .new_item .new_tab_content>li>.new_tab_con3>li .new_goodal_img2{
    background-image: url(img/new/goodal2.gif);
}
section .new_item .new_tab_content>li>.new_tab_con3>li .new_goodal_img3{
    background-image: url(img/new/goodal3.gif);
}
section .new_item .new_tab_content>li>.new_tab_con3>li .new_goodal_img4{
    background-image: url(img/new/goodal4.gif);
}


section .new_item .new_tab_content>li>.new_tab_con4>li .new_truerx_img1{
    background-image: url(img/new/tr1.gif);
}
section .new_item .new_tab_content>li>.new_tab_con4>li .new_truerx_img2{
    background-image: url(img/new/tr2.gif);
}
section .new_item .new_tab_content>li>.new_tab_con4>li .new_truerx_img3{
    background-image: url(img/new/tr3.gif);
}
section .new_item .new_tab_content>li>.new_tab_con4>li .new_truerx_img4{
    background-image: url(img/new/tr4.gif);
}

section .new_item .new_tab_content>li>.new_tab_con>li h3{
    margin:30px 0px 5px 20px;
    font-weight: 700;
    color: #731018;
    font-size: 15px;
}
section .new_item .new_tab_content>li>.new_tab_con>li>p{
    color: #6d6d6d;
}
section .new_item .new_tab_content>li>.new_tab_con>li .new_pd_name{
    margin:0px 0px 10px 20px;
    font-weight: 500;
}
section .new_item .new_tab_content>li>.new_tab_con>li .price{
    margin:20px 0px 0px 20px;
    font-weight: 700;
}

/* 기프트 */
section .for_gift{
    position: relative;
    width:100%;
    height: 1000px;
    top:400px; left:0;
    /* background-color: #000; */
    overflow: hidden;
}

section .for_gift .gift_pd{
    width:150%;
    display: flex;
    position: absolute;
    top:250px; 
    left: 50%;
    transform: translateX(-36%);
    /* left:-7.5%; */
}
section .for_gift .gift_pd>li{
    width:22%;
    /* height:600px; */
    height: 650px;
    margin-right:120px;
    /* background-color: rgb(233, 217, 220); */
    position: relative;
    top: 60px; left: 0;
    cursor: pointer;
    /* transition: all 0.5s; */
}
section .for_gift .gift_pd .gift_center{
    /* width:22%;
    height:720px; */
    transform: scale(105%);
    position: relative;
    top: 20px;
    left:0;
    transition: all 0.5s;
    border: 1px solid #dddddd;
    border-radius: 10px;
    overflow: hidden;
}
section .for_gift .gift_pd .gift_center .gift_pd_imgs{
    /* height:75%; */
    opacity: 1;
}
section .for_gift .gift_pd .gift_center .gift_txt{
    display: block;
}

section .for_gift .gift_pd>li:last-child{
    margin-right:0;
}
section .for_gift .gift_pd>li .gift_pd_imgs{
    width:100%;
    height:67%;
    /* background-color:#d3b7d8; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
}

section .for_gift .gift_pd>li .gift_pd_img1{
    background-image: url(img/gift/1c7bb52b35e452010be12f77b9373605.gif);
}
section .for_gift .gift_pd>li .gift_pd_img2{
    background-image: url(img/gift/4ef9c2cb56c0ba87ca1f0f79e503a76d.jpg);
}
section .for_gift .gift_pd>li .gift_pd_img3{
    background-image: url(img/gift/5885a7855dfebfb19c9e34d13099464e.jpg);
}
section .for_gift .gift_pd>li .gift_pd_img4{
    background-image: url(img/gift/74ed2dc5d2857e34e89d689a6501f012.gif);
}

section .for_gift .gift_pd li .gift_txt{
    position: absolute;
    top:470px;
    left: 11%;
    width: 480px;
    display: none;
}
section .for_gift .gift_pd li .gift_txt h3{
    color: #731018;
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 16px;
}
section .for_gift .gift_pd li .gift_txt p{
    margin-bottom: 20px;
    color: #525252;
    font-size: 16px;
}
section .for_gift .gift_pd li .gift_txt .price{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
}
section .for_gift .gift_pd li .gift_txt .p_right{
    position: relative;
    left: 365px;
    bottom:-40px;
}
section .for_gift .gift_pd li .gift_txt p:last-child{
    display: inline-block;
    font-size: 15px;
}

section .for_gift .gift_arrow{
    display:flex;
    justify-content:space-between;
    width:785px;
    position: absolute;
    top:470px; left:50%; 
    transform: translateX(-46.5%);
}
section .for_gift .gift_arrow>div{
    width:50px; height:50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
section .for_gift .gift_arrow .left_arw{
    background-image: url(img/pngwing2.png);
    cursor: pointer;
}
section .for_gift .gift_arrow .right_arw{
    background-image: url(img/pngwing.com.png);
    cursor: pointer;
}


/* warm cool */

section .warm_cool_bg{
    width:100%;
    height:900px;
    position: relative;
    top:500px;
    z-index: 0;
    background-color: #1a1a1a;
    /* background-color: #d30136; */
}
section .warm_cool_bg .warm_cool_wrap{
    width:1530px;
    height:100%;
    position:absolute;
    top:0; left:50%;
    transform: translateX(-50%);
    /* background-color: pink; */
}
section .warm_cool_bg .warm_cool_wrap .warm_cool_img{
    display: flex;
    position: relative;
    width:100%;
    height:600px;
    /* background-color: #6d6d6d; */
    top:0px; left:0;
}
section .warm_cool_bg .warm_cool_wrap .warm_cool_img>div{
    width:465px; height:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section .warm_cool_bg .warm_cool_wrap .warm_cool_img .left_cool{
    background-image: url(img/warm/coolimg2.png);
    position: absolute;
    top:50px; 
    left:0%;
    opacity: 0;
}
section .warm_cool_bg .warm_cool_wrap .warm_cool_img .right_warm{
    background-image: url(img/warm/warmimg2.png);
    position: absolute;
    bottom:50px; 
    right:0%;
    opacity: 0;
}

section .warm_cool_bg .warm_cool_wrap .warm_cool_txt{
    color: #F2EFE9;
    font-family: "DM Serif Display", serif, italic;
    text-align: center;
    opacity: 0;
    margin-left: -200px;
}
section .warm_cool_bg .warm_cool_wrap .warm_cool_txt p{
    font-size: 25px;
}
section .warm_cool_bg .warm_cool_wrap .warm_cool_txt h1{
    font-family: "DM Serif Display", serif, italic;
    font-size: 7em;
    margin-top:-20px;
    font-weight: 500;
}

section .warm_cool_bg .warm_cool_wrap .warm_cool_btn{
    width: 170px;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #F2EFE9;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    cursor: pointer;
}

/* @keyframes leftcon {
    from{
        opacity: 0;
        transform: translateY(-80px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes rightcon {
    from{
        opacity: 0;
        transform: translateY(80px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
} */


/* event */

section .event_wrap{
    width:100%;
    height: 1050px;
    position: relative;
    top:500px; left:0;
    overflow: hidden;
    /* background-color: pink; */
}

section .event_wrap .title_txt{
    top:200px;
}
section .event_wrap .event_bg{
    width:20%;
    /* width:100%; */
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    background-color: #F2EFE9;
}
section .event_wrap .event_arrow{
    width: 50px; height: 50px;
    background-image: url(img/images/arrrrr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top:50%; left: 8%;
    cursor: pointer;
    z-index: 2;
}
section .event_wrap .event_op{
    width:285px; 
    height:100%;
    position: absolute;
    top:0px; left:0;
    background-color: #F2EFE9;
    z-index: 1;
}

section .event_wrap .event_box{
    width: 110%;
    position: absolute;
    top:30%;
    left:15%;
    display: flex;
    z-index: 0;
    /* background-color: gray; */
}
section .event_wrap .event_box>li{
    width:20%; height:500px;
    margin-right:30px;
    background-color: white;
    color: #280e3b;
    font-family: pretendard;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border:1px solid #cacaca;
    /* box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05); */
}
section .event_wrap .event_box>li .event_imgs{
    width:100%; height:60%;
    background-repeat: no-repeat;
    background-position: -5px center;
    background-size: cover;
}

section .event_wrap .event_box>li .event_img1{
    background-image: url(img/event/event_banner_pc224.gif);
}
section .event_wrap .event_box>li .event_img2{
    background-image: url(img/event/event_banner_pc241.gif);
}
section .event_wrap .event_box>li .event_img3{
    background-image: url(img/event/event_banner_pc266.gif);
}
section .event_wrap .event_box>li .event_img4{
    background-image: url(img/event/event_banner_pc223.gif);
}
section .event_wrap .event_box>li .event_img5{
    background-image: url(img/event/event_banner_pc268.gif);
}

section .event_wrap .event_box>li .event_txt{
    height: 100%;
    background-color:#ffffff;
    padding:25px;
    box-sizing: border-box;
    color: #525252;
}
section .event_wrap .event_box>li .event_txt .event_btn{
    width:50px; height:20px;
    border:1px solid #f4ebfc;
    text-align: center;
    line-height: 20px;
    color: #731018;
    background-color: white;
    font-weight: 500;
    font-size: 13px;
}
section .event_wrap .event_box>li .event_txt p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
section .event_wrap .event_box>li .event_txt .evt_date{
    margin-top: 70px;
    font-weight: 500;
    font-size: 13px;
}

/* event_sub */

section .event_sub{
    width: 100%;
    height: 150px;
    position: relative;
    top:500px; left:0;
    display: flex;
    /* background-color: gray; */
}
section .event_sub .point_event{
    width: 50%;
    height: 100%;
    /* background-color: #df3400; */
    /* background-color: #731018; */
    /* background-color: #EDD0A6; */
    background-color: #1a1a1a;
    color: white;
    display: flex;
    padding-top:30px;
    padding-left: 200px;
    box-sizing: border-box;
}
section .event_sub .point_event .point_img{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(img/index_59.png);
}
section .event_sub .point_event .point_txt{
    margin-top: 20px;
    margin-left: 30px;
}
section .event_sub .point_event .point_txt h4{
    font-size: 19px;
}
section .event_sub .point_event .point_txt p{
    margin-top: 3px;
    font-size: 25px;
    font-weight: 600;
}
section .event_sub .point_event .point_txt p>span{
    font-weight: 900;
}

section .event_sub .gift_event{
    width:50%;
    height:100%;
    background-color: #F2EFE9;
    display: flex;
    padding-top:30px;
    padding-left: 200px;
    box-sizing: border-box;
}
section .event_sub .gift_event .gift_txt{
    margin-top: 20px;
    margin-right: 30px;
    /* color: white; */
}
section .event_sub .gift_event .gift_txt h4{
    font-size: 19px;
    font-weight: 500;
}
section .event_sub .gift_event .gift_txt p{
    margin-top: 3px;
    font-size: 25px;
    font-weight: 500;
}
section .event_sub .gift_event .gift_txt p span{
    font-weight: 800;
}
section .event_sub .gift_event .gift_img{
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(img/index_56.png);
}


/* sns */

section .sns_content{
    position: relative;
    width:100%;
    height: 1200px;
    top:550px;
    left:0;
}

section .sns_content .title_txt{
    top:140px;
}
section .sns_content .sns_bg{
    position: absolute;
    top:-50px; right:0;
    width: 24%; height:100%;
    background-color: #d32651;
    /* background-color: #EDD0A6; */
}
section .sns_content .sns_insta a{
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: absolute;
    top:235px;
    right: 130px;
    cursor: pointer;
}
section .sns_content .sns_1{
    display: flex;
    position: absolute;
    top:280px;
    /* right: 130px; */
    right: 0px;
    opacity: 0;
}
section .sns_content .sns_1>li{
    width: 310px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    
}
section .sns_content .sns_1 .sns_img1{
    background-image: url(img/sns/sns1.jpg);
}
section .sns_content .sns_1 .sns_img2{
    background-image: url(img/sns/2.jpg);
}
section .sns_content .sns_1 .sns_img3{
    background-image: url(img/sns/sns3.jpg);
}

section .sns_content .sns_2{
    display: flex;
    position: absolute;
    top:610px;
    left:0;
    /* left: 130px; */
    opacity: 0;
}
section .sns_content .sns_2>li{
    width: 310px;
    height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    
}
section .sns_content .sns_2 .sns_img4{
    background-image: url(img/sns/sns4.jpg);
}
section .sns_content .sns_2 .sns_img5{
    background-image: url(img/sns/sns5.jpg);
}
section .sns_content .sns_2 .sns_img6{
    background-image: url(img/sns/sns6.jpg);
}
section .sns_content .sns_face a{
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: absolute;
    top:930px;
    left: 160px;
    color: #222;
    cursor: pointer;
}

section .sns_content .sns_icon{
    position: absolute;
    top: 1100px;
    right: 170px;
    display: flex;
}
section .sns_content .sns_icon>li{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 15px;
    margin-top:-20px;
    cursor: pointer;
}
section .sns_content .sns_icon .facebook_icon{
    background-image: url(img/facebook.png);
}
section .sns_content .sns_icon .insta_icon{
    background-image: url(img/instagram.png);
}
section .sns_content .sns_icon .kakao_icon{
    background-image: url(img/kakao.png);
}
section .sns_content .sns_icon .youtube_icon{
    background-image: url(img/youtube.png);
}


/* title */
/* section .clio_tit_slide{
    width:100%;
    height: 170px;
    position: relative;
    top:270px;
    right: 0;
    overflow: hidden;
}
section .clio_tit_slide .clio_tit_inner{
    width: 190%;
}
section .clio_tit_slide .clio_tit_inner h1{
    color: #280e3b;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 100px;
    font-weight: 900;
} */


/*  */
.clio_tit_slide {
    color: white;
    font-size:70px; 
    /* font-family:'Raleway',Sans-serif; 
    font-weight:300; */
    font-family: 'DM Serif Display', serif;
    font-style: italic; 
    color: #1a1a1a;
    /* color: #d30136; */
    /* color: #731018; */
    /* text-shadow: -2px 0 #d30136, 0 2px  #d30136, 2px 0  #d30136, 0 -2px  #d30136; */
    letter-spacing: 1.5px;
    position: relative; 
    top:380px;
    left:0;
    width: 100%;
    max-width:100%; 
    height: auto; 
    padding:150px 0; 
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.clio_tit_slide .clio_tit_inner {
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite; 
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@media (hover: hover) and (min-width: 700px){
.animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem)); 
    transform: translateY(calc(100% - 8rem));
}
    }

/*  */


/*리뷰 */
section .review_content{
    width:1300px;
    height: 1300px;
    position: relative;
    top:450px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: gray; */
}
section .review_content .review_more{
    position: absolute;
    top:200px;
    right: 30px;
    cursor:pointer;
}
section .review_content .review_con{
    display: flex;
    flex-wrap:wrap ;
    position: absolute;
    top:220px;
    left:30px;
}
section .review_content .review_con>li{
    width: 400px;
    height: 500px;
    margin-left: 20px;
    margin-top: 35px;
    background-color: #ffffff;
    border:1px solid #cfcfcf;
    /* box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05); */
    cursor: pointer;
    transition: all 0.3s;
}

/* hover */
section .review_content .review_con>li:hover{
    transform: scale(101%);
}

section .review_content .review_con>li:nth-child(1),
section .review_content .review_con>li:nth-child(4){
    margin-left: 0;
}

section .review_content .review_con .review_imgs{
    width: 100%;
    height: 65%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section .review_content .review_con .review_img1{
    background-image: url(img/review/rv1.jpg);
}
section .review_content .review_con .review_img2{
    background-image: url(img/review/rv2.jpg);
}
section .review_content .review_con .review_img3{
    background-image: url(img/review/rv3.jpg);
    background-position: -400px center;
}
section .review_content .review_con .review_img4{
    background-image: url(img/review/rv4.jpg);
}
section .review_content .review_con .review_img5{
    background-image: url(img/review/rv5.jpg);
}
section .review_content .review_con .review_img6{
    background-image: url(img/review/rv6.jpg);
}

section .review_content .review_con>li .review_txt{
    width: 380px;
    padding-left:20px;
    padding-top:30px;
}
section .review_content .review_con>li .review_txt h4{
    margin-bottom: 20px;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 17px;
}
section .review_content .review_con>li .review_txt p{
    width:350px;
    margin-bottom: 25px;
    color: #525252;
    font-size: 15px;
}
section .review_content .review_con>li .review_txt .review_btn{
    width: 80px; 
    height: 28px;
    text-align: center;
    line-height: 28px; 
    margin-left: 300px;
    background-color:  #1a1a1a;
    /* border-radius:70px ; */
    color: white;
    font-size: 13px;
    font-weight: 200;
}

/* footer */


footer{
    width:100%;
    height: 400px;
    position: relative;
    top:550px;
    left:0;
    background-color: #1a1a1a;
}
footer .footer_wrap{
    width:1200px;
    height: 400px;
    display: flex;
    padding-top: 80px;
    box-sizing: border-box;
    color: white;
    margin: 0 auto;
    color:#F2EFE9;
}
footer .footer_wrap .footer_left{
    margin: 0 150px;
}
footer .footer_wrap .footer_left .footer_logo{
    width: 200px;
    height: 50px;
    background-image: url(img/index_64.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
footer .footer_wrap .footer_left .footer_left_txt{
    margin:30px 0 0 10px;
}
footer .footer_wrap .footer_left .footer_left_txt h4{
    margin-bottom: 20px;
    font-weight: 500;
}
footer .footer_wrap .footer_left .footer_left_txt p{
    line-height: 23px;
    font-weight: 300;
}

footer .footer_wrap .footer_right .footer_menu>li{
    margin-right: 30px;
    text-align: center;
    float:left;
    cursor: pointer;
}
footer .footer_wrap .footer_right .footer_right_txt{
    margin-top: 56px;
}
footer .footer_wrap .footer_right .footer_right_txt h4{
    margin-bottom: 20px;
    font-weight: 500;
}
footer .footer_wrap .footer_right .footer_right_txt p{
    line-height: 23px;
    font-weight: 300;
}
footer .footer_wrap .footer_right .footer_right_txt .copyright{
    margin-top: 30px;;
    font-weight: 200;
    color:#F2EFE9;
}